%div{:style => "width:575px; font-weight:bold;color:#445B6D"}
  %h2
    Your Connections

%a{:href => "#", :name => "reg"}
.homeContainerIn.connectionborderDiv
  -@registered_user.each do |reg|
    .smallbox.left
      .friendsBox.left
        -user = UserProfile.find(:first,:conditions => ["user_id = ?",reg])
        -user_fb_id = User.find(reg)
        -unless user.profile_image_file_name.blank?
          =link_to image_tag(user_profile_image(user)),"/profile/#{user.user_id}/#{user.display_name}"
        -else
          -unless user_fb_id.facebook_id.blank?
            =link_to image_tag("http://graph.facebook.com/#{user_fb_id.facebook_id}/picture"),"/profile/#{user.user_id}/#{user.display_name}"
          -else
            =link_to image_tag("/images/no-profile.png"),"/profile/#{user.user_id}/#{user.display_name}"
      .friendtitle.left
        =link_to user.display_name, "/profile/#{user.user_id}/#{user.display_name}"
        .clear{:style => "height:3px"}
        -activity = Activity.find(:first,:conditions => ["user_id = ? and subject_type != ?", user.user_id, 'Activity'], :order => ["created_at desc"], :limit => 1)
        -unless activity.blank?
          %p{:class => "small_orange_font"}
            =raw(activity.action)
        .clear

