<%= content_for :meta_title_and_keywords do %>
    <title>Muvi Facebook Covers</title>
    <meta name='keywords' content='movie API, muvi API, movie database, celebrity api, movie baas' />
    <meta name='description' content='Get movie and celebrity database API to power your mobile or web applications' />
<%- end %>

<div class="api mainbox" style ="width:1024px"> 
<h1>Muvi Facebook Covers</h1>
<!-- <div class="livechat">Questions? <img src="/images/m_live_chat_btn.png" /></div> -->
<div class="clear" style="height:20px;"></div> 
<hr/>
<h3>Download exciting muvi pictures that you can use as your Facebook cover</h3>
<p>Right click on any picture, click on 'Save As', save to your computer and then upload to Facebook as your cover picture. Easy-weasy!<br/>Collection is updated every 2-3 days. Bookmark this page and keep checking for new additions.<br/>Questions or specific request? Email us at <a href="mailto:fbcover@muvi.com">fbcover@muvi.com</a></p>
<center>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/Special-26.png" alt="Special 26" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/bullet-to-the-head.png" alt="bullet to the head" /></div>

<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/murder3.png" alt="Murder 3" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/wolverine.png" alt="The Wolverine" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/Chennai_Express.png" alt="Chennai Express" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/Oz-the-great-and-powerful.png" alt="Oz the great and powerful" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/Inkaar.png" alt="Inkaar" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/texas-chainsaw-3D.png" alt="Texas Chainsaw 3D" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/himmatwala.png" alt="Himmatwala" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/on-the-road.png" alt="On the road" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/talaash.png" alt="Talaash" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/universal.png" alt="Universal Soldiers" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/race_2.png" alt="Race 2" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/twilight_saga.png" alt="Twilight Saga" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/ek-tha-tiger.png" alt="Ek tha tiger" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/jab-tak-hai-jaan.png" alt="Jab tak hai jaan" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/K-786.png" alt="Khiladi 786" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/Son-of-Sardaar.png" alt="Son of Sardar" /></div>
<div class="clear" style="height:20px;"></div>
<div style="width:851px; height:351px; background-position:center;"><img src="<%= POSTER_URL %>/images/fbcover/YPD-2.png" alt="Yamla Pagla Deewana" /></div>
<div class="clear" style="height:20px;"></div>
</center>
</div>
