/= form_tag user_session_path, "data-remote" => "true"  do
/  Email:
/  = text_field_tag 'user[email]'
/  %br
/  %br
/  Password:
/  = password_field_tag 'user[password]'
/  %br
/  %br
/  = check_box_tag 'user[remember_me]'
/  = label_tag 'user[remember_me]', 'Remember me'
/  %input{:type => "hidden", :name => "type", :value => "mobile"}
/  %br 
/  %br
/  %button Sign in
/  /= link_to "Forgot your password?", new_password_path('user')



-unless current_user.blank?
  %script
    location.href = "http://#{request.env["HTTP_HOST"]}";
-else
  #login
    .login
      .heading
        .heading_label{:style=>"display: none;"} You need to login to rate movies
      #message
      .clear
      #errors
      = form_tag user_session_path, "data-remote" => "true" do
        %fieldset.registration
        .field
          .label{:style => "font-size:15px;"}
            Email Address
          = text_field_tag 'user[email]'
        .clear
        .field
          .label{:style => "font-size:15px;"}
            Password
          = password_field_tag 'user[password]'
        .clear
        %hr
        - if devise_mapping.rememberable?
          .rememberCheckbox.left{:style=>"margin: 0px;"}
            = check_box_tag 'user[remember_me]'
            = label_tag 'user[remember_me]', 'Remember me'
            .clear{:style=>"height: 5px;"}

        %input{:type => "hidden", :name => "type", :value => "mobile"}
        .clear
        /.actions.mid_btn.left
        /  .right
        /    = image_submit_tag('/images/login_btn.png')
        .actions.left
          .orange-gradient-input-button.ui-corner-all
            .orange-gradient-input-button.ui-corner-all
              %input{:type => "submit", :value => "Login", :name => "commit", :id => "comment_submit", :class => "label"}

      .clear
      %label{:style=>"font-size: 11px;"}
        %a{:onclick => "open_window();", "data-remote" => "true", :href => "/users/sign_up"}
          Join with Facebook

