:javascript
  $(document).ready(function($) {
    $('#tweet_container').masonry({
      itemSelector : '.mas_celeb_tweet_item'
    });
  });
%a{:href=>'#', :id=>'hidden_reply_login', :class=>'gradient-button2 left', :href=>"#{new_user_session_path}?refer_type=#{@celebrity.class.to_s}", "data-remote" => "true", :onclick => 'enableLoginError(registration(), "You need to login");' ,:style=>"width:60px;display:none;"}
-if @celebrity_tweets.blank?
  - if params[:by] == "user"
    %h4 Tweets are  not present for this celebrity
  -else
    %h4 Tweets are  not present by this celebrity

-else
  %div{:id=>"tweet_container"}
    - @celebrity_tweets.in_groups_of(2) do |group|
      - group.each do |tweet|
        - unless tweet.blank?
          -celeb_tweet = CelebTweet.find_by_id(tweet[1])
          %div{:style => "margin:0px 0px 8px 8px; width:260px", :class => "left mas_celeb_tweet_item"}
            %div.reviewBox.left
              %div.image.left
                %a{:href=>"http://www.twitter.com/#!/#{display_name(tweet)}", :target=>"_blank"}
                  %img{:src => "http://api.twitter.com/1/users/profile_image?screen_name=#{display_name(tweet)}&size=normal"}
              -if params[:by] == "user"
                %div.reviewIcon.right
                  = thumb_class_for_union_result(tweet)
              %div.names{:style => "min-height:56px"}
                %p
                  - unless tweet[2].blank?
                    = truncate(tweet[2].html_safe, :length => 100)
                  - else
                    = "Rated #{@movie.name} #{tweet[3]} stars."
                .clear
              .clear
                %div{:class => "bottom_tab_texts", :style => "width:250px"}
                  %a{:href=>"http://www.twitter.com/#!/#{display_name(tweet)}", :target=>"_blank",:style => "color:#B0B0B0;"}
                    =display_name(tweet)
                  = Time.parse(tweet[6]).strftime('%d %B %Y').to_s rescue ''
                .clear
                  %div{:style=>"width:250px",:id => "like_com_info_#{tweet[1]}"}
                    = render '/shared/review_links', {:review => celeb_tweet}
                  .clear
                  %div{:id => "info_item_likes_#{celeb_tweet.id}", :class=>"discussion_child", :style=>"display:none;margin-left:5px;"}
                    %div{:id=>"list_like_#{celeb_tweet.id}"}
                      = render '/shared/like_dislike', {:review => celeb_tweet,:type=>"all"}
                  .clear
                  %div{:id=>"review_reply_#{tweet[1]}",:style=>"display:none;"}
                    = render '/shared/review_replies', {:review => celeb_tweet}
                  %div
                    = form_for([celeb_tweet,Comment.new], :remote => true, :html => {:id => "comment_form_#{tweet[1]}"})  do |f|
                      %div{:style => "float:left;margin-left:5px"}
                      - user_id = current_user ? current_user.id : ""
                      %input{:type => "hidden", :id => "user_id",:name=>"user_id", :value => user_id}
                      %textarea{:id => "comment_#{tweet[1]}",:name => "tweet_comment_#{tweet[1]}", :rows => 1, :cols => 28, :class => "commentBox", :onkeypress => "check_event_submit_comment(event, '#{tweet[1]}','#{user_id}');", :placeholder => "Write a comment"}
                      %input{:type => "hidden", :id => "movie_id",:name=>"movie_id", :value => @celebrity.permalink}
                      %input{:type => "hidden", :id => "parent_id_#{tweet[1]}",:name=>"celeb_tweet_comment", :value => tweet[1]}
                      = f.hidden_field "parent_id"
  .clear

