.rating{:style => 'width:590px;height:25px;'}
  .meter.left
    %span{:style => "width:#{@movie.muvimeter}%"}
  .inner_ratingBar.left{:class=>"tip_hint tooltipbottom"}
    = ratingbar(@movie.muvimeter,"muvimeter")
    =generate_tooltip_block("muvi_meter","movie_page")
  -if @movie.muvimeter != 0 and !@movie.muvimeter.blank? and !@movie.muvimeter.nil?
    .ratingvalue.left
      -muvimeter = "#{@movie.muvimeter || 0}%"
      = link_to muvimeter, '#critics', :onclick => "go_to_tab(0);",:style => "font-size:20px; color:#4F4F4F"
  %h4{:style => "font-weight:bold", :class => 'right', :style => 'line-height:3em;'}
    -if @movie.critics_percent != 0 and !@movie.critics_percent.blank? and !@movie.critics_percent.nil?
      Critics:
      %label.blue_12px.bold
        -critic = "#{@movie.critics_percent || 0}%"
        = link_to critic, '#users', :onclick => "go_to_tab(0);"

    &nbsp;&nbsp;
    -if @movie.tweet_percent != 0 and !@movie.tweet_percent.blank? and !@movie.tweet_percent.nil?
      Twitter:
      %label.blue_12px.bold
        -tweet = "#{@movie.tweet_percent || 0}%"
        = link_to tweet, '#users', :onclick => "go_to_tab(1);"

    &nbsp;&nbsp;
    -if @movie.user_percent != 0 and !@movie.user_percent.blank? and !@movie.user_percent.nil?
      User:
      %label.blue_12px.bold
        -user = "#{@movie.user_percent || 0}%"
        = link_to user, '#users', :onclick => "go_to_tab(2);"
  .clear{:style => "height:10px"}

