.home_page_rating.left{:style => "margin-top:-65px;margin-left:10px; position:absolute;width:180px"}
  .gray_bold.left{:style => "width:180px"}
    = link_to @movie.name, movie_path(@movie),:style => "color:#C2C1BD; font-size:13px"
  /%div{:class => "video_div right", :id => "video_div_#{@movie.id}", :style => "visibility:hidden"}
  /  =render "/shared/trailers", :movie_id => @movie.id

  .home_rating_bar.left{:style => "background-color:#C9C9C9"}
    = ratingbar(@movie.muvimeter)

  -if @movie.muvimeter != 0 and !@movie.muvimeter.blank? and !@movie.muvimeter.nil?
    .home_ratingvalue.left
      -muvimeter = "#{@movie.muvimeter || 0}%"
      = link_to muvimeter, movie_path(@movie, :anchor => "critics"),:style => "color:#C2C1BD; font-size:18px"
