%h2
  %span Happy
  Birthday
.right{:style => "margin-top:-35px; padding-right:240px"}
  =image_tag("/images/bday_icon.png")
.clear
 

%input{:type => "hidden", :id => "bd_counter", :value => "0"}

.left{:style => "margin-top:-25px;margin-right:12px;margin-left:352px"}
  -if @birthday_today.size > 3
    .left_arrow.left{:id => "bd_left", :onclick => "birthday_show('left');", :style => "visibility:hidden"} &nbsp; 
    .right_arrow.right{:id => "bd_right", :onclick => "birthday_show('right');"} &nbsp;


.clear


-unless @birthday_today.blank?
  %div{:style => "margin-left:5px"}
    -count = 0
    -@birthday_today.each do |bd|
      .left{:id => "bd_#{count}", :style => "width:112px; height:175px;padding:2px;border:1px solid #dddddd; margin-right:10px"}
        =link_to image_tag(bd.image, :width => "112px", :height => "175px"), star_path(bd)
        .clear
        =link_to bd.name, star_path(bd)
  
        %script
          if("#{count.to_i}" >= 3){
          $("#bd_#{count}").hide();
          }
        -count = count + 1

  :javascript
    function birthday_show(p){
      if(p == "left"){
        if(parseInt($("#bd_counter").val()) > 0){
          $("#bd_counter").val(parseInt($("#bd_counter").val()) - 3);
        }
        else{
          $("#bd_counter").val(0);
        }

        var start = $("#bd_counter").val();
        var end = parseInt($("#bd_counter").val()) + 3;

        for(var i = 0; i < "#{@birthday_today.size}"; i++){
          $("#bd_"+i).hide();
        }
        for(var i = start; i < end; i++){
          $("#bd_"+i).show();
        }
        if($("#bd_counter").val() == 0){
          $("#bd_right").css("visibility", "visible");
          $("#bd_left").css("visibility", "hidden");

        }
        else{
          $("#bd_right").css("visibility", "visible");
          $("#bd_left").css("visibility", "visible");
        }
     }
      else{
        $("#bd_counter").val(parseInt($("#bd_counter").val()) + 3);
  
        var start = $("#bd_counter").val();
        var end = parseInt($("#bd_counter").val()) + 3;

        for(var i = 0; i < "#{@birthday_today.size}"; i++){
          $("#bd_"+i).hide();
        }      
        for(var i = start; i < end; i++){
          $("#bd_"+i).show();
        }  

        if(parseInt($("#bd_counter").val()) + 3 >= "#{@birthday_today.size}"){
          $("#bd_right").css("visibility", "hidden");
          $("#bd_left").css("visibility", "visible");
        }
        else{
          $("#bd_right").css("visibility", "visible");
          $("#bd_left").css("visibility", "visible");
        }
      }
    }

