%div{:class=>"seen_pannel", :style => "width:100%;"}
  -unless current_user.blank?
    -@movie_lists = ListOfMovie.find_by_user_id(current_user.id)

    .well-small{:style => 'height:800px;padding:0px;'}
      .media{:style => "background-color:#FFFFFF"}
        .items.scroll-pane.gradient_class{:style => 'overflow:auto;height:766px;'}
          -unless @movie_lists.blank?
            - unless @movie_lists.seen_lists.blank?
              - seen_it =  ActiveSupport::JSON.decode(@movie_lists.seen_lists).reverse
              - seen_it.each do |seen|
                -if !seen.nil?
                  -m = Movie.find_by_id(seen['object']['id'])
                  .gradient_class{:style => "padding:5px; font-size:12px; background-color: #FFFFFF"}
                    %a{:class => "pull-left", :href => "#{seen['object']['url']}"}
                      /=image_tag("#{POSTER_URL}#{seen['object']['image']['url'].sub! 'thumb', 'medium'}", :alt => '', :class => "image_class")
                      %img{:src => "#{POSTER_URL}#{seen['object']['image']['url'].sub! 'thumb', 'medium'}", :alt => '', :class => "image_class"}

                    .media-body{:style => "min-height:90px;"}
                      %h5{:class => "media-heading"}
                        = link_to seen['object']['displayName'], "#{seen['object']['url']}"
                      &nbsp;                       
                      -begin
                        =m.get_first_two_actors_link_gray.html_safe
                      -rescue
                        &nbsp;
                      %br
                      .clear
                      .right{:style => "margin-top:18px;"}
                        =render "/shared/movie_rating", movie_name: seen['object']['displayName'], movie_image: seen['object']['image']['url'], movie_id:seen['object']['id']


  

%div{:class=>"wanna_see_pannel", :style => "width:100%;"}
  -unless current_user.blank?
    .well-small{:style => 'height:800px;padding:0px;'}
      .media{:style => "background-color:#FFFFFF"}
        .items.scroll-pane.gradient_class{:style => 'overflow:auto;height:766px;'}
          -unless @movie_lists.blank?
            -unless @movie_lists.wanna_see_lists.blank? && @movie_lists.wanna_see_lists.nil?
              - wanna_see_it =  ActiveSupport::JSON.decode(@movie_lists.wanna_see_lists)
              -if wanna_see_it
                - wanna_see_it = wanna_see_it.reverse
                - wanna_see_it.each do |wanna_see|
                  - if !wanna_see.nil?
                    -m = Movie.find_by_id(wanna_see['object']['id'])
                    .gradient_class{:style => "padding:5px; font-size:12px; background-color: #FFFFFF"}
                      %a{:class => "pull-left", :href => "#{wanna_see['object']['url']}"}
                        /=image_tag("#{POSTER_URL}#{wanna_see['object']['image']['url'].sub! 'thumb', 'medium'}", :alt => '' , :class => "image_class")
                        %img{:src => "#{POSTER_URL}#{wanna_see['object']['image']['url'].sub! 'thumb', 'medium'}", :alt => '', :class => "image_class"}

                      .media-body{:style => "min-height:90px;"}
                        %h5{:class => "media-heading"}
                          = link_to wanna_see['object']['displayName'], "#{wanna_see['object']['url']}"
                        &nbsp;
                        -begin
                          =m.get_first_two_actors_link_gray.html_safe
                        -rescue
                          &nbsp;
                        %br
                        .clear
                        .right{:style => "margin-top:18px;"}
                          -unless m.blank?
                            -if m.release_date.blank? or m.release_date > Date.today
                              = link_to "<i class='icon-ok'></i> Have Seen".html_safe, "#" , :class => 'btn disabled pull-right'
                            -else
                              = link_to "<i class='icon-ok'></i> Have Seen".html_safe, "#" , :class => 'btn btn-seen-list btn-primary pull-right' , 'data-id' => wanna_see['object']['id']





:javascript
  $(document).ready(function(){
    $('.scroll-pane').jScrollPane();
  });

