-for i in 0..3
  %input{:type => "text", :id => "tweeterbuzz_item_#{i}", :name => "tweeterbuzz_item[]",:placeholder => 'Enter the name of movie', :style => "margin-right:5px"}
  = hidden_field_tag "id_tweeterbuzz_item_#{i}" , 0, :name => 'tweeterbuzz_id[]'
%input{:type => "radio", :name => "start", :value => "tweeterbuzz", :style => "width:auto", :id => "buzz_radio"}
  Start here

-unless @tweeterbuzz.blank?
  -t = 0
  -@tweeterbuzz.each do |tb|
    -movie = Movie.find_by_id(tb.subject_id)
    %script
      $("#tweeterbuzz_item_#{t}").val("#{movie.name}");
      $("#id_tweeterbuzz_item_#{t}").val("#{tb.subject_id}");
      if("#{tb.start}" == "true"){
      $("#buzz_radio").attr("checked","checked");
      }
    -t = t + 1

