= form_for [@topten] do |f|
  -if @topten.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topten.errors.count, "error")} prohibited this user_profile from being saved:"
      %ul
        - @topten.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :display_name
    %br
    = f.text_field :display_name
  .field
    = f.label :dob
    %br
    = f.text_field :dob
  .field
    = f.label :sex

    = f.radio_button :sex, 'male'
    male
    = f.radio_button :sex, 'female'
    female


  .actions
    = f.submit 'Save'

