= render 'shared/meta_title_and_keywords', { :key => 'topten'}

= content_for :heading do
  Add/Remix a top 10

/= content_for :breadcrumb do
/  %span
/    = link_to "Home &#187;".html_safe, root_path
/    = link_to "Top 10s &#187;".html_safe, root_path
/    Add/Remix a top 10 

.clear
.containerIn.borderDiv{:id =>  @list_type}
  .form{:style => "width:450px"}
    = form_tag({:controller => "top_ten", :action => "create"}, :id => 'topten') do
      %div
        = label_tag :list_type, 'Top 10'
        = radio_button_tag :topten_type, '0', @list_type == 'movies', :onclick => "location.href='/top_ten/create/movies'"
        Movies
        = radio_button_tag :topten_type, '1', @list_type == 'celebs', :onclick => "location.href='/top_ten/create/celebs'"
        Celebrities
        .clear
        = label_tag :name
        = text_field_tag :name , '', :placeholder => 'My top movies or celebries', :style => 'width:340px'
               
      .items
        = render :partial => 'items'
 
      .actions
        .right{:style => "margin-right:60px"}
          %a{:href=>'#top', :id=>'#topten_save', :class=>'gradient-button2', :onclick=>'$("#topten").submit();'}
            .gradient-button2
              .label Save
      .clear
