= render 'shared/meta_title_and_keywords', { :key => 'upcoming'}

/= content_for :breadcrumb do
/  %span
/    = link_to "Home &#187;".html_safe, root_path
/    Coming Soon

= content_for :heading do
  .left
    %b
      Coming soon


.right.latestUpdate
  Sort By:
  = select_tag "Sort", options_for_select([['Release Date','release_date'], ['Muvibuzz', 'user_interest'], ['Latest Update', 'latest_update']], params[:sort]), :id => 'coming_soon_sort'
.clear
#coming_soon
  .homeContainerIn.homeborderDiv
    = render :partial => 'movies'
    .clear
    .right
      = will_paginate(@movies)
    .clear

